:root {

    /* =====================================================
       CORE COLORS
       ===================================================== */

    --bg-main: #07152f;
    --bg-panel: rgba(101, 26, 114, 0.765);

    --cyan: #00f0ff;
    --cyan-soft: rgba(0, 240, 255, 0.35);

    --purple: #a855f7;
    --purple-soft: rgba(168, 85, 247, 0.30);

    --white: #f8f2f9;
    --muted: #8c9ab3;

    --green: #35ff9a;

    /* =====================================================
       BORDERS
       ===================================================== */

    --border-cyan: rgba(0, 240, 255, 0.45);
    --border-soft: rgba(120, 160, 190, 0.16);

    /* =====================================================
       EFFECTS
       ===================================================== */

    --cyan-glow:
        0 0 6px rgba(0, 170, 255, 0.8),
        0 0 18px rgba(0, 166, 255, 0.35),
        0 0 45px rgba(242, 0, 255, 0.12);

    --purple-glow:
        0 0 8px rgba(168, 85, 247, 0.7),
        0 0 25px rgba(168, 85, 247, 0.25);

    /* =====================================================
       TYPOGRAPHY
       ===================================================== */

    --letter-wide: 0.25em;
    --letter-wider: 0.45em;
}